@import '../../../styles/shared-styles';

.search-box {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 5px;
}

.search-box input {
  max-width: 50%;
}

.page-number {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin: 0 2px;
  border-radius: 3px;
}

.page-number.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.btn-primary {
  background-color: $shopapp-color;
  border-color: $shopapp-color;
}

.btn.btn-primary {
  margin-left: 10px;
  margin-right: 10px;
}

.container-fluid {
  background-color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 100vh;
}

.page-link {
  cursor: pointer;
}
